body {
  line-height: 1.5;
  /*background: url('../public/images/light.png'), linear-gradient(#410b0c, #ac1617, #240909);*/
  /* background: url('../public/images/light.png'), linear-gradient(#165682, #1e7dc0, #0d314b); */
  /* background: url('../public/images/papel-de-parede.jpg'), linear-gradient(#46494b, #c3cbd0, #3c3e40); */
  background: url('../public/images/light.png') no-repeat 0 -25px, url('../public/images/papel-de-parede.jpg');
}

/* main page */

.list-books-title {
  padding: 10px 0;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0 20px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
}

.list-books-content {
  padding: 0 0 80px;
}

.bookshelf {
  padding: 0 10px 20px;
  background: url('../public/images/shelf.png');
  background-repeat: no-repeat;
  display: flex;
  background-position: center bottom;
  flex-direction: column;
}

.read {
  filter: grayscale(100%);
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 120px;
  }
}

.bookshelf-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  font-size: 1em;
  display: flex;
  justify-content: center;
  margin: 0;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  opacity:0.7;
}
.search-books-input-wrapper {
  flex: 1;
  background: #fff;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
  display: none;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-description {
    position: absolute;
    right: 0;
    bottom: 45px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./icons/ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    background-size: 24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('./icons/change.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    background-size: 24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* tooltip */

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}